<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.community.mapper.CommentMapper" >
    <insert id="insert" parameterType="com.community.model.Comment">
        insert into comment (parent_id,`type`,commentator,gmt_create,gmt_modified,like_count,content) values (#{parentId},#{type},#{commentator},#{gmtCreate},#{gmtModified},#{likeCount},#{content})
    </insert>

    <select id="getById" parameterType="Long" resultType="com.community.model.Comment">
        select * from comment where id = #{parentId}
    </select>

    <select id="listByQuestionId" resultType="com.community.model.Comment">
        select * from comment where parent_id = #{parentId} and `type` = #{type1} order by gmt_create desc
    </select>
</mapper>